<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Inkan</title>
  <link rel="stylesheet" href="//www.herokucdn.com/purple/1.0.0/purple.min.css">
  <link rel="stylesheet" href="stylesheets/application.css">
</head>
<body>

<nav id="header" class="navbar navbar-default navbar-inverse gradient-primary">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Inkan</a>
    </div>
  </div><!-- /.container-fluid -->
</nav>

<main class="container">

  <%= yield %>

</main><!-- main container -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.0.1/react.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.0.1/react-dom.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.min.js"></script>
<script src="//www.herokucdn.com/purple/1.0.0/purple.min.js"></script>
<script src="dist/app.js"></script>
</body>
</html>
